<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
  <head>
    <title>chlebek.ca</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/basscss.css">
    <link rel="stylesheet" href="/site.css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body lang="en">
    <nav class="navbar clearfix px3 flex flex-center white bg-gray bg-cover bg-center">
      <div class="sm-col flex-auto">
        <h1 class="h2 h0-responsive mt0 mb0 caps regular"><a class="white" href="/aboutme">Eric Chlebek</a></h1>
        <p class="h5 italic mt0 mb0"><img class="mr1" src="/canada.svg" style="width: 22px;"></img><a class="white" href="https://goo.gl/maps/sKpw376r3z72">Vancouver, BC</a></p>
      </div>
      <div class="py1 mr4">
        <a class="btn btn-outline regular mr4" href="/resume">Resume</a>
        <a class="btn btn-outline regular" href="https://github.com/echlebek">
          <img class="mr1" src="/github.svg"></img>
          GitHub
        </a>
        <a class="btn btn-outline ml4 regular" href="https://twitter.com/EricChlebek">
          <img style="width: 20px" class="mr1" src="/twitter.svg"></img>
          Twitter
        </a>
      </div>
    </nav>
