<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
  <head>
    <title>chlebek.ca</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/basscss.css">
    <link rel="stylesheet" href="/site.css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
  </head>
  <body lang="en">
    <nav class="navbar clearfix px3 flex flex-center white bg-gray bg-cover bg-center">
      <div class="sm-col flex-auto">
        <h1 class="h2 h0-responsive mt0 mb0 caps regular"><a class="white" href="/">Eric Chlebek</a></h1>
      </div>
      <div class="mr4">
        <a class="display btn regular" href="https://github.com/echlebek">
          <img class="mr1" src="/github.svg"></img>
          GitHub
        </a>
        <a class="display btn regular" href="https://twitter.com/EricChlebek">
          <img style="width: 20px" class="mr1" src="/twitter.svg"></img>
          Twitter
        </a>
      </div>
    </nav>
