@media print
{    
  .no-print, .no-print *
  {
    display: none !important;
  }
  p {
    font-size: 14px;
  }
  h1 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
}
@media screen
{
  .print, .print *
  {
    display: none !important;
  }
  html {
    max-width: 800;
	line-height: 1.6;
    position: relative;
    margin: 0 auto;
    background: #ffffff;
  }
}

.navbar {
	-webkit-box-shadow: -5px 5px 5px -2px rgba(0,0,0,0.30);
	-moz-box-shadow: -5px 5px 5px -2px rgba(0,0,0,0.30);
	box-shadow: -5px 5px 5px -2px rgba(0,0,0,0.30);
    background-image: url(/bg.jpg);
    background-size: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}
